@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Be a fighter.</h1>
</div>


